.liveHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .liveHeader__left {
    display: flex;
    align-items: center;
    gap: 4px;

    &:hover {
      cursor: pointer;
    }

    .liveHeader__logo {
      width: 26px;
      height: 24px;
    }

    .liveHeader__title {
      font-size: 18px;
      font-weight: 600;
      color: var(--uikit-text-color-primary);
    }
  }

  .liveHeader__right {
    display: flex;
    align-items: center;
    gap: 8px;

    .liveHeader__name {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
