.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  border-bottom: 1px solid var(--stroke-color-secondary);

  .logo-info {
    display: flex;
    align-items: center;
    color: var(--text-color-primary);
    font-size: 18px;
    font-weight: 500;
    
    .logo {
      width: 26px;
      height: 24px;
    }

    .title {
      margin: 0 12px 0 6px;
      padding-right: 12px;
      border-right: 2px solid var(--stroke-color-module);
    }
  }
  
  .login-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32px;
    width: 146px;
    color: var(--text-color-primary);
    font-size: 14px;
    font-weight: 500;
    position: relative;

    .user-name {
      max-width: 76px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .dropdown-menu:hover {
      cursor: pointer;
    }

    .dropdown {
      position: absolute;
      top: 36px;
      right: 0;
      min-width: 120px;
      background: var(--bg-color-dialog-module);
      border: 1px solid var(--stroke-color-secondary);
      border-radius: 8px;
      z-index: 10;
      padding: 6px 0;
      user-select: none;
    }

    .dropdown-item {
      display: flex;
      justify-content: space-evenly;
      padding: 4px 12px;
      align-items: center;
      color: var(--text-color-primary);
      white-space: nowrap;
    }

    .dropdown-item:hover {
      background: var(--bg-color-function);
      cursor: pointer;
    }
  }
}
