:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}