.live-monitor {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 8px;
  background: var(--bg-color-topbar, rgba(19, 20, 23, 1));
  overflow: hidden;

  .live-monitor-header {
    flex-shrink: 0;
    height: 72px;
  }

  .operate-tab {
    padding: 6px;
  }

  .live-monitor-content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 12px 24px;
    width: 100%;
    overflow-y: auto;
    flex: 1;

    .live-pagination {
      flex-shrink: 0;
      height: 32px;
      margin-top: 16px;
    }
  }
}