#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(19, 20, 23, 1);
}

.header {
  width: 100%;
  background-color: aqua;
}

.live-list {
  flex: 1;
  width: 100%;
  padding-bottom: 80px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #666 transparent;
}

.live-list::-webkit-scrollbar {
  width: 8px;
}

.live-list::-webkit-scrollbar-track {
  background: transparent;
}

.live-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

.live-list::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 16px;
  padding-right: 100px;
  background-color: var(--bg-color-topbar);
  border-top: 1px solid var(--stroke-color-secondary);
  z-index: 1000;
}
