* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --bg-color-topbar: #131417;
  --bg-color-login: #ffffff;
  --text-color-primary: rgba(255, 255, 255, 0.9);
  --stroke-color-module: #48494f;
  --stroke-color-secondary: #2b2c30;
  --stroke-color-transparent: rgba(0, 0, 0, 0);
  --bg-color-operate: #1f2024;
  --text-color-button: #ffffff;
  --text-color-secondary: rgba(255, 255, 255, 0.55);
  --text-color-warning: #e37f32;
  --text-color-error: #e6594c;
  --text-color-link: #4086ff;
  --bg-color-dialog-module: #2b2c30;
  --bg-color-function: #3a3c42;
}
